.ge-board {
  border: 1px solid #000;
  height: 500px;
  width: 500px
}

.ge-board-cell {
  background-color: #CCC;
  float: left;
  height: 5px;
  width: 5px
}

.ge-board-cell-unknown {
  background-color: #000
}

.ge-board-character {
  background-color: #333
}

.ge-score-board {
  border: 2px inset #333;
  padding: 0.25em 1em;
  position: absolute;
}